.button_class > button{
    width: 40%;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    margin: 10px;
    align-content: center;
    flex-direction: row-reverse;
}

.submit_btn {
    color: white;
    background-color: orangered;
}

.reset_btn {
    color: black;
    background-color: white;
}

.flex_container{
    display: flex;
    height: 80vh;
    align-items: center;
    gap: 2rem;
}

.gender_id {
    display: inline-block;
    width: 100%;
}

.form_section {
    background: lightgray;
    flex: 5;
    border: 1.5px solid #111;
    border-radius: 10px;
    display: flexbox;
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.form_section > h3{
    text-align: center;
}
/* This is for moving the btn to the center */
.form_section > button{
    text-align: center;
    align-self: stretch;
    justify-content: stretch;
    justify-self: stretch;
}

.details_section {
    /* background: chartreuse; */
    flex: 7;
    border: 1.5px solid transparent;
    border-radius: 1px;
    align-content: center;
    align-items: center;
    text-align: center;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 60%;
}

.gender_container > select{
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    width: 80%;
}
